<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wd.tech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".mvp.app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/tbicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".My_Shezhi_pwd"></activity>
        <activity android:name=".activity.zixun.My_Shezhi" />
        <activity android:name=".activity.zixun.My_Renwu" />
        <activity android:name=".activity.zixun.My_Jifen" />
        <activity android:name=".activity.zixun.My_Tongzhi" />
        <activity android:name=".activity.zixun.My_Tiezi" />
        <activity android:name=".activity.zixun.My_Guanzhu" />
        <activity android:name=".activity.zixun.My_Shoucang" /> <!-- 闫圣豪50-60行 -->
        <!-- 闫圣豪50-60行 -->
        <activity android:name=".activity.zixun.Zixun_Mohu_Zuozhe" />
        <activity android:name=".activity.zixun.Zixun_Mohu_wenzhang" />
        <activity android:name=".activity.zixun.Zixun_Mohu" />
        <activity android:name=".activity.zixun.Zixun_Right_liebiao" />
        <activity android:name=".activity.zixun.Zixun_XQ" />
        <activity android:name=".activity.dlzc.RegisterActivity" />
        <activity android:name=".activity.dlzc.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity android:name=".activity.xiaoxi.LianxiRensearchActivity" />
        <activity android:name=".activity.xiaoxi.XiaoxisearchActivity" />
        <activity android:name=".activity.shequ.FabuTieziActivity" />
        <activity
            android:name=".activity.zixun.Zixun_XQ"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".fragment.Left_Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>